.sites-button {
  background: #FF6908;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}
button{
	text-transform: uppercase;
	border-style: solid;
	border-width: 3px;
	padding: 10px 25px;
	cursor: pointer;
	font-weight: 700;
	transition: all 0.25s ease-in-out;
}
.btn-white{
	border-color: $white;
	color: $white;
}

.btn-black{
	border-color: $black;
}

//CREATED MIXIN FOR CONTACT FORM.
@mixin button() {
	text-transform: uppercase;
	border-style: solid;
	border-width: 3px;
	padding: 10px 25px;
	cursor: pointer;
	font-weight: 700;
	transition: all 0.25s ease-in-out;
}
/* ==== Rectangle Out Hovers ==== */
.hvr-rectangle-out.btn-white{
	background-color: transparent;
}
.hvr-rectangle-out.btn-black{
	background: $white;
}
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.hvr-rectangle-out.btn-white:before {
	background: $white;
}
.hvr-rectangle-out.btn-black:before {
	background: $black;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out.btn-white:hover, .hvr-rectangle-out.btn-white:focus, .hvr-rectangle-out.btn-white:active {
  color: $black;
}
.hvr-rectangle-out.btn-black:hover, .hvr-rectangle-out.btn-black:focus, .hvr-rectangle-out.btn-black:active {
  color: $white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}

@mixin btn-white-inverse() { 
	@include button();
	color: $white;
	float: right;
	padding: 20px 75px;
	background: transparent;
	border: 4px solid $white;
	text-transform: uppercase;
	&:hover{
		background-color: $white;
		color: $black;
		font-weight: bold;
	}
}

@mixin btn-back-to-top {
	@include button();
	color: $white;
	float: right;
	padding: 20px 75px;
	background: transparent;
	border: 4px solid $white;
	text-transform: uppercase;
}
