/* =========================================== */
/* ============= General Styles ============== */
/* =========================================== */
.fff{
	color: $white
}
html,p,div,li,a,h1,h2,h3,h4,h5,h6,span{
	font-family: 'Roboto';
}
h2{
	@include font(60);
}
h1,h2,h3{
	font-weight: 900;
}
.service-box{
	border: 3px solid $white;
	padding: 70px 80px;
	color: $white;
	h3{
		display: inline;
		margin-right: 5px;
		margin-right: 5px;
	}
	a{
		color: $white;
		text-transform: uppercase;
	}
}
.project-meta{
	h3,p{
		display: inline;
	}
	h3{
		margin-right: 10px;
	}
}

/* =========================================== */
/* =================  Header ================= */
/* =========================================== */
.short-header{
	background-color: black;
}

/* =========================================== */
/* ===============  Left Menu ================ */
/* =========================================== */

@keyframes top-line {
  0%   { width: 24px }
  50%  { width: 15px }
  100% { width: 25px }
}
@keyframes middle-line {
  0%   { width: 15px }
  50%  { width: 25px }
  100% { width: 15px }
}
@keyframes bottom-line {
  0%   { width: 25px }
  50%  { width: 15px }
  100% { width: 25px }
}
.hamburger { left: 50px; }
.hamburger{
	background-color: #000;
	padding: 15px;
	width: 50px;
	position: fixed;
	top: 50px;
	cursor: pointer;
	z-index: 99;
	&:hover .top-line{
		animation: top-line 0.5s infinite;
		animation-timing-function: ease-in-out;
	}
	&:hover .middle-line{
		animation: middle-line 0.5s infinite;
		animation-timing-function: ease-in-out;
	}
	&:hover .bottom-line{
	  animation: bottom-line 0.5s infinite;
	  animation-delay: 0.15s;
	  animation-timing-function: ease-in-out;
	}
	.top-line,.middle-line,.bottom-line{
		height: 3px;
		background-color: $white;
	}
	.top-line{
		width: 15px;
		margin-bottom: 3px;
	}
	.middle-line{
		width: 25px;
		margin-bottom: 3px;
	}
	.bottom-line{
		width: 20px;
	}
}
.left-menu{
	@include breakpoint(small) {
		width: 100%;
		max-width: none;
		width: 100%;
		position: fixed;
		left: -100%;
		height: 100vh;
		padding: 45% 10%;
		z-index: 100;
		background-color: $white;
		top: 0;
		transition: left 0.4s ease-in-out;
	}
	@include breakpoint(large) {
		left: -100%;
		max-width: 300px;
		padding: 20% 3%;
	}
	&.slide-in{
		left: 0;
	}
	.menu-close{
		position: absolute;
		right: 20px;
		top: 30px;
		border: none;
		font-weight: 900;
		font-size: 1.5rem;
	}
	ul{
		margin: 0;
		list-style-type: none;
	}
	.left-menu-list{
		margin-top: 30px;
		li a{
			font-weight: 900;
			font-size: 1.5rem;
			color: $black;
		}
	}
	.social-icons {
		margin-top: 30px;
		ul li{		
			display: inline-block;
		  margin-right: 5px;
		}
		i{
			color: $black;
			font-size: 1.5rem;
		}
	}
}

/* =========================================== */
/* ================ Home Page ================ */
/* =========================================== */
.home-hero{

}
.featured-work{
	padding: 10% 0 0;
	transform: skewY(10deg);
	position: relative;
	z-index: 12;
	top: -150px;
	background-color: $white;
	.row,.main-content{
		transform: skewY(-10deg);
	}
}
.services{
	background-color: $black;
	padding: 100px 0 60px;
	margin-top: -400px;
	.row.expanded{
		background-size: cover;
		background-repeat: no-repeat;
		background-position:center center;
	}
	aside{
		padding: 30px 0;
	}
}
.services2{
	background-color: $black;
	padding: 10% 0 5%;
	.row.expanded{
		padding: 0;
		img{
			width: 100%;
		}
	}
	.service-box{
		position: relative;
		top: -100px;
		z-index: 1;
		padding-top: 20%;
		h3{
			display:block;
			margin-bottom: 0;
		}
	}
}
.about{
	padding: 10% 0;
	.testimonial-box{
		border: 3px solid $black;
		padding: 30px;
	}
}

/* =========================================== */
/* ================ Work Page ================ */
/* =========================================== */
#category-menu-list{
	margin: 0;
	list-style-type: none;
	li{
		display: inline-block;
	}
	li a{
		color: $black;
		font-size: 1rem;
		margin-right: 20px;
		font-weight: bold;
		text-transform: uppercase;
		padding-bottom: 5px;
		transition: all 0.25s ease-in-out;
		&.active-work,&:hover{
			border-bottom: 3px solid #000;
		}
	}
}
#work-category{
	text-transform: capitalize;
	margin-top: 30px;
}
.feat-img-cont {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 350px;
	position: relative;
	.play{
		text-align: center;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		p{
			margin:0;
			color: $white;
		}
		i{
			color: rgba(255,255,255,0.5);
			font-size: 4rem;
		}
	}
}
/* =========================================== */
/* =============== Single Page =============== */
/* =========================================== */
.related-posts{
	h3{
		text-transform: uppercase;
	}
}
