.sites-button {
  background: #FF6908;
  font-size: 1.25rem;
  font-weight: bold;
  box-shadow: 0 -2px 0 rgba(0,0,0,0.2) inset;
  border-radius: 3px;
  border: none;
}
button{
	text-transform: uppercase;
	border-style: solid;
	border-width: 3px;
	padding: 10px 25px;
	cursor: pointer;
	transition: all 0.25s ease-in-out;
}

//CREATED MIXIN FOR CONTACT FORM.
@mixin button() {
	text-transform: uppercase;
	border-style: solid;
	border-width: 3px;
	padding: 10px 25px;
	cursor: pointer;
	transition: all 0.25s ease-in-out;
}

.btn-white{
	border-color: $white;
	color: $white;
	&:hover{
		background-color: $white;
		color: $black;
	}
}

.btn-black{
	border-color: $black;
	&:hover{
		background-color: $black;
		color: $white;
	}
}
.home-hero {
  // position: relative;
  // width: 100%;
  // overflow: hidden;
  // height: 100%;
}

@mixin btn-white-inverse() { 
	@include button();
	color: $white;
	float: right;
	padding: 20px 75px;
	background: transparent;
	border: 4px solid $white;
	text-transform: uppercase;
	&:hover{
		background-color: $white;
		color: $black;
		font-weight: bold;
	}
}

@mixin btn-back-to-top {
	@include button();
	color: $white;
	float: right;
	padding: 20px 75px;
	background: transparent;
	border: 4px solid $white;
	text-transform: uppercase;
}
.home-hero:after {
// content: "";
// position: absolute;
// z-index: 1;
// pointer-events: none;
// bottom: 0;
// left: 0;
// width: 100%;
// /* background: url(../images/sliderL.png) center center no-repeat; */
// -webkit-background-size: cover;
// -moz-background-size: cover;
// -o-background-size: cover;
// background-size: cover;
// border-bottom: 250px solid white;
// border-right: 3000px solid transparent;
}

// @mixin angle($pseudo, $flip: false, $angle: 1.5deg) {
//   // Possible values for $pseudo are: before, after, both
//   @if $pseudo == 'before' or $pseudo == 'after' or $pseudo == 'both' {
//     position: relative;
//     z-index: 1;
//     $selector: if($pseudo == 'both', '&:before,&:after', '&:#{$pseudo}');

//     #{$selector} {
//       background: inherit;
//       content: '';
//       display: block;
//       height: 50%;
//       left: 0;
//       position: absolute;
//       right: 0;
//       z-index: -1;
//       -webkit-backface-visibility: hidden; // for Chrome Windows
//     }

//     @if $pseudo == 'before' {
//       #{$selector} {
//         top: 0;

//         @if $flip {
//           transform: skewY($angle * -1);
//           transform-origin: 0 0;
//         } @else {
//           transform: skewY($angle);
//           transform-origin: 100% 0;
//         }
//       }
//     }

//     @if $pseudo == 'after' {
//       #{$selector} {
//         bottom: 0;

//         @if $flip {
//           transform: skewY($angle);
//           transform-origin: 0 100%;
//         } @else {
//           transform: skewY($angle * -1);
//           transform-origin: 100%;
//         }
//       }
//     }

//     @if $pseudo == 'both' {
//       &:before {
//         top: 0;

//         @if $flip {
//           transform: skewY($angle * -1);
//           transform-origin: 0 0;
//         } @else {
//           transform: skewY($angle);
//           transform-origin: 100% 0;
//         }
//       }

//       &:after {
//         bottom: 0;

//         @if $flip {
//           transform: skewY($angle);
//           transform-origin: 0 0;
//         } @else {
//           transform: skewY($angle * -1);
//           transform-origin: 100%;
//         }
//       }
//     }
//   }
// }
// .edge--bottom--reverse {
//   @include angle(after, true);
// }
